<!DOCTYPE html>
<html lang="en">
<head>
    <title>ERROR</title>
    <%- include ("./partials/Header.ejs") %>
</head>
<body>
    <%- include ("./partials/navbar.ejs") %>
        <h1>A pergunta solicitada não exite.</h1>
    <%- include ("./partials/Footer.ejs") %> 
</body>
</html>